header {
  padding: 20px;
  border-bottom: 2px solid black;
}

.user {
  height: 30px;
  display: flex;
  align-items: center;

}

.settings {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}

.settings_menu {
  top: 0;
  left: 0;
  background-color: white;
  border: 1px solid gray;
  position: absolute;
  width: 170px;
}

.menu_option {
  padding: 10px;
  transition: 0.5s;

}
.menu_option:hover {
  background-color: rgb(221, 221, 221);
}

.settings i {
  --icon_size: 15px;
  font-size: 15px;
  transition: font-size 0.2s;
}

.settings i:hover {
  font-size: 18px;
}

